<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hack.css">
</head>

    
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: "poppins",sans-serif;
    
    
     body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
     }
     
    .container h1 {
        font-size: 36px;
        text-align: center;
    }
    .input-box input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border: 2px solid ;
        border-radius: 40px;
    
}
<a style:"padding-right:20px;"href="ABOUT.html">Home</a>
</style>
<h1 style="font-size:25px; text-align:center;">SHRI MADHWA WADHIRAJA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</h1>
<h2 style="font-size:20px; text-align:center;">A UNIT OF SHRI SODE VADIRAJA MUTT</h2>
<br>
<br>
     <pre></pre><li><a style="font-size: 20px;background-color: white; " href="https://www.google.com/">HOME</a></li>
    <pre></pre><li><a style="font-size: 20px;background-color: white; "href="">ABOUT</a></li>
    <pre></pre><li><a style="font-size: 20px;background-color: white; "href="">COURSE</a></li>
    <pre></pre><li><a style="font-size: 20px;background-color: white; " href="">BLOG</a></li>
    <pre></pre><li><a style="font-size: 20px;background-color: white; " href="">CONTACT</a></li>
  
</div>
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 
.container h1 {
    font-size: 36px;
    text-align: center;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid ;
    border-radius: 40px;
}



</html>